{{!-- Include the main layout --}}
{{!< main}}

{{!-- Page content --}}
<div class="row">
  <div class="col-md-3">
    <!-- Sidebar -->
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action">All</a>
      <a href="#" class="list-group-item list-group-item-action">Primary</a>
      <a href="#" class="list-group-item list-group-item-action">Settings</a>
    </div>
  </div>
  <div class="col-md-9">
    <!-- Main content of the home page -->
    <h2>Welcome to YuEMAIL!</h2>
    {{!-- Add more content based on your requirements --}}
  </div>
</div>