{{!< main title="Introduction"}}

{{#unless loggedIn}}
  <div class="jumbotron mt-4">
    <h1 class="display-4">Welcome to YuEMAIL!</h1>
    <p class="lead">YuEMAIL is an awesome email system. Sign up or log in to get
      started.</p>
    <hr class="my-4" />
    <p>Explore the features and start sending emails today.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/signup" role="button">Sign Up</a>
      <a class="btn btn-secondary btn-lg" href="/login" role="button">Log In</a>
    </p>
  </div>
{{/unless}}